<div id="wrapper">
  <ng-container *ngIf="user !== null; then loggedIn; else loginForm"></ng-container>
</div>

<ng-template #loginForm>
  <form (submit)="login()">
    <input [(ngModel)]="loginData.username" name="username" type="text" placeholder="username...">
    <input [(ngModel)]="loginData.password" name="password" type="password" placeholder="password...">
    <button class="btn btn-sm btn-outline-secondary" type="submit">Login</button>
  </form>
</ng-template>

<ng-template #loggedIn>
  <button class="btn btn-sm btn-outline-secondary" (click)="logout()">logout</button>
</ng-template>
